/* убираем плавное открытие меню */
.menu-wrap,
.menu-wrap *,
.inner-wrapper__content,
.toggle-btn[data-v-0c31c4ee] {
  transition: none !important;
}

/*buyTodayLinks*/
#buyTodayLinks {
  margin: 30px 0;
}
#buyTodayLinks p {
  margin-top: 14px;
  font-size: 14px;
  opacity: 0.5;
}
#buyTodayLinks p.title:first-child {
  opacity: 1;
}

#bundleVersion {
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
