.modern-table-container{overflow-x:visible;}

.js-order-list .copyBtn{position:absolute;top:2px;right:5px}
.js-order-list .copyBtn:after{content:'❐';}
.js-order-list .inline-tooltip.user_jscss_tooltip{max-width:300px;width:300px;top:0;text-align:left}

svg.lovixlube{width:14px;height:14px;margin-left:4px;}

.js-order-list th,.js-order-list td:not(#upload){position:relative;padding:8px;}
.js-order-list td.addComment:after{display:block;font-size:.8em;margin-top:3px;opacity:.5}

/*warn*/
.js-order-list td .warn{position:absolute;top:0;left:0}
.js-order-list td .warn .warn_icon_tooltip{display:inline-block}
.js-order-list td .warn svg.warning{width:17px;height:17px;}

.js-order-list td[type="чат"]{min-width:320px}
.js-order-list td[type="покупатель"].addComment.onanim:after{content:'аноним'}
.js-order-list td[type="выебри карточку"].addComment.customCardText:after{content:'+ свой текст'}
.js-order-list td[type="выебри карточку"] a.print_card{z-index:10;position:absolute;bottom:4px;right:4px;text-decoration:none;font-size:1.5em}
.js-order-list td[type="букеты в заказе"] svg.lovixlube{position:absolute;right:4px;bottom:4px}
.js-order-list td[type="покупатель"] .telegram svg.telegram{display:inline-block;width:14px;height:14px;margin-right:5px;cursor:pointer;vertical-align:baseline;}
.js-order-list td[type="покупатель"] .phoneZakazchika{display:block;font-size:.8em;opacity:.5;cursor:pointer;margin-top:5px}
.js-order-list td[type="сумма"] .paid{font-size:.9em;opacity:.5}
.js-order-list td[type="сумма"] .discount{position:absolute;top:0;right:0;font-size:10px;background:#ff7a93;color:#fff;line-height:15px;padding:0 4px}
.js-order-list td[type="магазин"] .logo{width:30px;height:30px}
.js-order-list td[type="адрес доставки"] .copyBtn:after{content:'☎'}
.js-order-list td[type="адрес доставки"] .inline-tooltip.user_jscss_tooltip{left:auto;right:20px;}
.js-order-list td[type="курьер"] .warn .inline-tooltip.user_jscss_tooltip{max-width:200px;width:200px;left:-4px;transform:translateX(-100%)}
.js-order-list td[type="курьер"] .price{margin-top:4px}
.js-order-list td[type="курьер"] .auto{width:18px;height:18px}
.js-order-list td[type="курьер"] .warn .notify{vertical-align:top;display:inline-block;width:14px;height:14px;padding:0;margin:0;}
.js-order-list td[type="курьер"][data-notified="false"] .warn .notify{cursor:pointer;}
.js-order-list td[type="курьер"][data-notified="false"] .warn .notify::after{content:'🔕';}
.js-order-list td[type="курьер"][data-notified="true"] .warn .notify{display:none;}

#list-total-wrapper a{cursor:pointer;}