tr[id^="order-product-section"] td{padding-top:10px;padding-bottom:10px}

/*склад*/
tr[id^="order-product-section"] td[data-type="item-reservation"]{padding-block-end:0!important}

/*amount + delete*/
tr[id^="order-product-section"] td[data-type="item-cost"]{text-align:right;padding-right:10px}
tr[id^="order-product-section"] td[data-type="item-cost"] > div{display:inline-block}
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="cost__total"],
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="controls"]{display: inline; padding:0; margin:0}
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="controls"] button{width:20px;height:20px;margin-left:10px}

/*скрыть*/
tr[id^="order-product-section"] td[data-type="item-ordering"] > div,/*порядковый номер товара в таблице*/
tr[id^="order-product-section"] td[data-type="item-cost"] .mt-3,/*без НДС*/
tr[id^="order-product-section"] td[data-type="item-cost"] span[aria-label*="Товар по акционной цене"],
tr[id^="order-product-section"] [data-type="inventory-summary"],/*без НДС*/
tr[id^="order-product-section"] td[data-type="item-preview"] button[class*="recommendation-button"]/*сопутствующие товары*/
{display:none}

#sebes{vertical-align:middle;margin-right:20px;cursor:pointer;line-height:1.42}
#popupCalculator{font-weight:500}
#popupCalculator small{opacity:0.6}