.modern-table-container{overflow-x:visible;}

#orders-table .copyBtn{position:absolute;top:2px;right:5px;cursor:pointer}
#orders-table .copyBtn:after{content:'❐';}
#orders-table .inline-tooltip.user_jscss_tooltip{max-width:300px;width:300px;top:0;text-align:left}
#orders-table .smallText{font-size:.9em;opacity:.5;color:#1e2248;}

svg.lovixlube{width:14px;height:14px;margin-left:4px;}

/* #orders-table:not(.loaded) tr[data-url^="/order"]{display:none} - вынесено в user_jscss */

#orders-table th,#orders-table td:not(#upload){position:relative;padding:8px;}
#orders-table td.addComment:after{display:block;font-size:.8em;margin-top:3px;opacity:.5}

/*warn*/
#orders-table td .warn{position:absolute;top:0;left:0}
#orders-table td .warn .warn_icon_tooltip{display:inline-block}
#orders-table td .warn svg.warning{width:17px;height:17px;}

#orders-table td#upload{display:none;}
#orders-table td[col="comments"]{min-width:320px}
#orders-table td[col="checkbox"] .copyBtn{position:static}
#orders-table td[col="checkbox"] .copyBtn:after{display:none}
#orders-table td[col="card"].addComment.customCardText:after{content:'+ свой текст'}
#orders-table td[col="card"].noIdentic .native{background-color: #f3ff92;}
#orders-table td[col="card"] a.print_card{z-index:10;position:absolute;bottom:4px;right:4px;text-decoration:none;font-size:1.5em}
#orders-table td[col="products"]{width:240px}
#orders-table td[col="products"] svg.lovixlube{position:absolute;right:4px;bottom:4px}
#orders-table td[col="products"] .product{margin:8px 0;}
#orders-table td[col="products"] .color{width:16px;max-width:16px;height:16px;border-radius:4px;overflow:hidden;display:inline-flex;align-items:center;justify-content:center;margin-right:5px;transition:all 0.3s ease-in-out;vertical-align:bottom;transform:translateY(-2px);}
#orders-table td[col="products"] .color span{font-size:11px;opacity:0;white-space:nowrap;padding:0 4px;transition:all 0.1s ease-in-out;margin-top:-2px;}
#orders-table td[col="products"]:hover .color{width:auto;max-width:200px;}
#orders-table td[col="products"]:hover .color span{opacity:1;padding:0 10px;}
#orders-table td[col="products"] .color.default{background-color:#bab6c5;color:#fff;}
#orders-table td[col="products"] .color.soft{background-color:#FADADD;color:#7a5c5c;}
#orders-table td[col="products"] .color.light{background-color:#E0F7FA;border:1px solid rgba(0,0,0,.2);}
#orders-table td[col="products"] .color.bright{background-color:#FF4500;color:#fff}
#orders-table td[col="products"] .color.dark{background-color:#5e565d;color:#fff}
#orders-table td[col="products"] .color.sunny{background-color:#FFD700;}
#orders-table td[col="products"] .color.yellow{background-color:yellow;color:#755818}
#orders-table td[col="products"] .color.orange{background-color:orange;color:#fff}
#orders-table td[col="products"] .color.peach{background-color:peachpuff;color:#7a5c5c}
#orders-table td[col="products"] .color.red{background-color:red;color:#fff}
#orders-table td[col="products"] .color.pink{background-color:pink}
#orders-table td[col="products"] .color.purple{background-color:rgb(190, 49, 190);color:#fff}
#orders-table td[col="products"] .color.blue{background-color:rgb(97, 97, 214);color:#fff}
#orders-table td[col="products"] .color.green{background-color:rgb(12, 170, 97);color:#fff}
#orders-table td[col="products"] .color.white{background-color:white;border:1px solid rgba(0,0,0,.2);}
#orders-table td[col="zakazchik"].addComment.onanim:after{content:'аноним'}
#orders-table td[col="zakazchik"] .telegram svg.telegram{display:inline-block;width:14px;height:14px;margin-right:5px;cursor:pointer;vertical-align:baseline;}
#orders-table td[col="zakazchik"] .phoneZakazchika{display:block;cursor:pointer;margin-top:5px;position:static}
#orders-table td[col="zakazchik"] .phoneZakazchika:after{display:none;}
#orders-table td[col="shop"] .logo{width:30px;height:30px}
#orders-table td[col="adres"] .copyBtn:after{content:'☎'}
#orders-table td[col="adres"] .inline-tooltip.user_jscss_tooltip{left:auto;right:20px;}
#orders-table td[col="courier"] .warn .inline-tooltip.user_jscss_tooltip{max-width:200px;width:200px;left:-4px;transform:translateX(-100%)}
#orders-table td[col="courier"] .price{margin-top:4px}
#orders-table td[col="courier"] .auto{width:18px;height:18px}
#orders-table td[col="courier"] .warn .notify{vertical-align:top;display:inline-block;width:17px;height:17px;padding:0;margin:0;}
#orders-table td[col="courier"][data-notified="false"] .warn .notify{cursor:pointer;background-image:url('https://static.tildacdn.com/tild3065-3731-4665-b364-653330336661/courierNotify.svg');background-size:contain;}
/*#orders-table td[col="courier"][data-notified="false"] .warn .notify::after{content:'🔕';}*/
#orders-table td[col="courier"][data-notified="true"] .warn .notify{display:none;}
#orders-table td[col="courier"] .native .copyBtn{position:static}
#orders-table td[col="courier"] .native .copyBtn:after{display:none}
#orders-table td[col="payment"]{text-align:center;}
#orders-table td[col="payment"] .pay-status{margin:0!important;display:inline-block;}
#orders-table td[col="payment"].perepaid {background-color:#fffb85}
#orders-table td[col="payment"].unpaid {background-color:#ff7a93;text-align:center;}
#orders-table td[col="payment"].unpaid svg{width:25px;height:25px;}


#list-total-wrapper a{cursor:pointer;}