tr[id^="order-product-section"] th:nth-child(2){padding-left:10px!important}
tr[id^="order-product-section"] tr .last-cell.price{margin-bottom:0}
tr[id^="order-product-section"] tr td, tr[id^="order-product-section"] tr td.subtotal.align-to-input{padding:10px!important}
tr[id^="order-product-section"] td:last-child > div{display:inline-block}/*цена+удалить*/
tr[id^="order-product-section"] td:last-child .info-btn-group,
tr[id^="order-product-section"] td:last-child .info-btn-group .info-btn,
tr[id^="order-product-section"] td:last-child .info-btn-group .info-btn__switch_trash{width:16px;height:16px;margin:0;min-width:auto;position:static;bottom:auto;right:auto;}
tr[id^="order-product-section"] td:last-child .info-btn-group{margin-left:10px}
tr[id^="order-product-section"] td.store{position:relative}
tr[id^="order-product-section"] .image{text-align:left!important}
tr[id^="order-product-section"] .add-property{margin-top:0} /*добавить свойство*/
tr[id^="order-product-section"] .available-inventory-row{position:absolute;left:0;bottom:0;background:#fbfbfb;padding:4px;color:#aaa;opacity:.7;margin: 0 !important;}

#ignoreDiscountTrigger{margin-top:8px;text-align:right}
#ignoreDiscountTrigger .tooltip{font-size:13px;display:inline-block!important}
#ignoreDiscountTrigger .tooltip:before,
#ignoreDiscountTrigger .tooltip:after{display:none}
#ignoreDiscountTrigger span{margin-right:10px;vertical-align: middle;}
#ignoreDiscountTrigger input{float:none;vertical-align: middle;}

#sebes{vertical-align:middle;margin-right:20px;cursor:pointer;line-height:1.42}

.title .moysklad img{margin-top:10px;width:130px}

tr[id^="order-product-section"] td[data-type="item-cost"]{text-align:right}
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="cost__total"],
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="controls"]{display: inline; padding:0; margin:0}
tr[id^="order-product-section"] td[data-type="item-cost"] div[class^="controls"] button{width:20px;height:20px;margin-left:10px}

/*скрыть*/
tr[id^="order-product-section"] td[data-type="item-cost"] .mt-3,/*без НДС*/
tr[id^="order-product-section"] td:last-child .order-price__tooltip,/*товар по акционной скидке*/
tr[id^="order-product-section"] td[data-type="item-preview"] button[class*="recommendation-button"]/*сопутствующие товары*/
{display:none}